{% extends "main.html" %}

{% block title %}Compose{% endblock %}

{% block body %}
<div class="container custom_body">
    <div class="row head">
      <section class="col-lg-12">
          <div class="col-lg-6">
            <h1>Soviet resistance network</h1>
          </div>
          <div class="col-lg-3">
              <h1><a href="{% url 'home:home' %}"><button type="button" class="btn btn-lg btn-default btn-block">Home</button></a></h1>
          </div>
          <div class="col-lg-3">
              <form action="{% url 'login:logout' %}" method="post">
                  {% csrf_token %}
                  <h1><button type="submit" class="btn btn-lg btn-default btn-block">Logout</button></h1>
              </form>
          </div>
      </section>
    </div>
    <div class="row ">
      <section class="col-lg-12">
          <form action="{% url 'home:compose' %}" method="post">
              {% csrf_token %}
              {{ form }}
              <br />
              <input type="submit" value="Send" class="btn pull-right btn-default" style="margin-right:28.5%">
          </form>
      </section>
    </div>
</div>
{% endblock %}
